<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/extracttextfromimage" method="post" enctype="multipart/form-data">
        <label for="file">Upload your file:</label>
        <input type="file" name="file" accept="image/*" required id="">
        <button>Extract text from Image</button>
    </form>

    <textarea cols="80" rows="20">
        <%= data %>
    </textarea>

    <% if (typeof amounts !== 'undefined' && amounts.Subtotal !== null) { %>
        <p>Subtotal: $<%= amounts.Subtotal %></p>
    <% } %>

    <% if (typeof amounts !== 'undefined' && amounts.HST !== null) { %>
        <p>HST: $<%= amounts.HST %></p>
    <% } %>

    <% if (typeof amounts !== 'undefined' && amounts.Total !== null) { %>
        <p>Total: $<%= amounts.Total %></p>
    <% } %>
</body>
</html>
